@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    padding-left: 10%;
    padding-right: 10%;
}

.hero{
    height: 50vh;
    background-color: #E7FCFF;
    display: flex;
}

.hero .half1{
    width: 60%;
    height: 100%;
}

.texts{
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    text-transform: uppercase;
    font-size: 24px;
    color: #242D42;
}

.texts p{
    font-size: 14px;
    color: #242D42;
}

.hero .half2{
    width: 40%;
}

.hero .half2 img{
    height: 100%;
}

.backbtn{
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 20px;
}

.backbtn a{
    color: #242D42;
    text-decoration: none;

}

.from{
    z-index: 999;
    height: 100vh;
    width: 100%;
    position: absolute;
    background: linear-gradient(rgba(36, 45, 66,.1),rgba(36, 45, 66,.1)); 
}

.content{
    background-color: #fff;
    height: 600px;
    width: 800px;
    position: relative;
    border-radius: 25px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px;
    text-align: center;
}

.items{
    width: 100%;
    height: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.text{
    width: 60%;
    height: 50px;
    font-size: 24px;
    border-radius: 15px;
    outline: none;
    padding: 10px;
}

#btn{
    width: 60%;
    height: 50px;
    font-size: 24px;
    border-radius: 15px;
    margin-top: 30px;
    padding: 5px;
    background-color: #E7FCFF;
    border: #242D42 2px dashed;
    transition: .3s ease-in-out;
}

#btn:hover{
    color: #E7FCFF;
    background-color: #242D42;
    border: #E7FCFF 2px dashed;
}

.container2{
    position: absolute;
    width: 480px;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
}

.flights{
    min-height: 60vh;
    padding-top: 20px;
    padding-bottom: 50px;
}

.popularf{
    width: 100%;
    padding-top: 40px;
}

.popularf h3{
    font-size: 20px;
    color: #E63946;
    letter-spacing: 5px;
}

.allf{
    padding-top: 20px;
}

.allf h3{
    font-size: 20px;
    color: #E63946;
    letter-spacing: 5px;
}
.flightscar{
    padding-top: 20px;
    
}

.card1{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card1 img{
    width: 200px; height: 250px; object-fit: cover;
    
    border-radius: 15px;
}
.card1 h4{
    text-align: center;
}

.list li button{
    width: fit-content;
    text-decoration: none;
    background-color: #fff;
    padding: 10px;
    border: none;
    border-radius: 15px;
    transition: .3s ease-in-out;
    color: #242D42;
}

.list li button:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
}

.grid{
    padding-top: 20px;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(auto-fit, max(200px));
}


footer{
    position: relative;
    bottom: 0;
    height: 60px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    background-color: #E7FCFF;
}