#header{
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    position: fixed;
    z-index: 999;
    transition: .3s ease-in-out;
}

#header.active {
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    background-color: #f1faee;
}

.nav1{
    padding-left: 100px;
    padding-right: 100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.nav1 h2 strong{
    color: #e63946;
}

.nav1 ul{
    display: flex;
    margin-top: 10px;
    gap: 20px;
}

.nav1 ul li{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav1 ul li a{
    text-decoration: none;
    font-weight: 700;
    color: #1d3557;
    transition: .3s ease-in-out;
}

.nav1 ul li a:hover{
    color: #a8dadc;
}

header .nav1 img{
    height: 100%;
}

.register{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.register a{
    text-decoration: none;
    background-color: #1d3557;
    padding: 10px 15px;
    border-radius: 15px;
    color: #f1faee;
    transition: .3s ease-in-out;
}

.register a:hover{
    text-decoration: none;
    color: #1d3557;
    background-color: #a8dadc;
}

.register a:nth-child(1){
    text-decoration: none;
    background-color: #f1faee;
    padding: 6px 15px;
    border-radius: 15px;
    border: #1d3557 solid;
    color: #1d3557;
    transition: .3s ease-in-out;
}

.register a:nth-child(1):hover{
    text-decoration: none;
    color: #a8dadc;
    background-color: #1d3557;
}

/*Footer*/
#footer{
    height: 50vh;
    background: linear-gradient(rgba(241, 250, 238, 0.5) 50%, rgba(241, 250, 238, 0.2)), url('../assets/bg_plane.png');
    background-size: cover;
    background-position: bottom;
}

.logged{
    display: flex;
    gap: 20px;
}

.list{
    display: none;
    background-color: #fff;
    position: absolute;
    top: 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}

.listcard{
    display: none;
    background-color: #fff;
    position: absolute;
    top: 70px;
    right: 0;
    width: 400px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.showmen{
    display: block;
}

.card{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.account button, .logged button{
    border: none;
    background-color: #1d3557;
    padding: 10px 15px;
    border-radius: 15px;
    color: #f1faee;
    transition: .3s ease-in-out;
}

.list ul{
    display: block;
    margin: 0;
    padding: 0;
    gap: 0;
}

.list ul li{
    list-style: none;
    margin: 10px;
    padding: 0;
    gap: 0;
    align-items: center;
}

.listcard ul{
    display: block;
    margin: 0;
    padding: 0;
    gap: 0;
    width: 100%;
}

.listcard ul li{
    list-style: none;
    margin: 10px;
    padding: 0;
    gap: 0;
    align-items: center;
}

#logout, #user{
    text-decoration: none;
    padding: 6px 30px;
    border-radius: 15px;
    border: none;
    width: 100%;
    color: #1d3557;
    transition: .3s ease-in-out;
}

#logout:hover, #user:hover{
    background-color: rgb(247, 247, 247);
}

#proceed{
    text-decoration: none;
    padding: 6px 30px;
    border-radius: 15px;
    border: none;
    background-color: #1d3557;
    width: 100%;
    color: #fff;
    transition: .3s ease-in-out;
    text-align: center;
}

#proceed:hover{
    background-color: #305fa1;
}

.listcard .carditem{
    margin: 20px;
    text-decoration: none;
    font-weight: 700;
    color: #1d3557;
    transition: .3s ease-in-out;
}

.dote{
    position: absolute;
    right: 0;
    background-color: #e63946;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}