@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    padding-left: 10%;
    padding-right: 10%;
}
/*hero section*/

#hero{
    background:linear-gradient(rgba(241, 250, 238, 0.4) 5%, rgba(241, 250, 238, 0.1)), url('../assets/bg_plane.png');
    background-size: cover;
    height: 85vh;
    display: flex;
}

#hero .half1{
    height: 100%;
    width: 50%;
}

.half1 .container{
    position: relative;
    top: 50%;
    padding-left: 10%;
    transform: translateY(-50%);
}

.half1 .container img{
    -webkit-filter: drop-shadow(-10px 10px 5px rgba(100, 100, 111, 0.5));
    filter: drop-shadow(-10px 10px 5px rgba(100, 100, 111, 0.5));
}

#hero .half2{
    height: 100%;
    width: 50%;
}

.half2 .container{
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.viewcont{
    margin-top: 30px;
}

#view{
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #457B9D;
    border: #457B9D solid;
    color: #f1faee;
    border-radius: 15px;
    transition: .3s ease-in-out;
}

#view:hover{
    background-color: #f1faee;
    border: #457B9D solid;
    color: #457B9D;
}

.half2 h1{
    font-size: 150px;
    color: #1d3557;
}

.half2 h2{
    font-size: 86px;
    color: #1d3557;
    font-weight: 500;
}

.half2 h3{
    margin-top: 20px;
    text-align: start;
    color: #457B9D;
}

.half2 h4{
    font-size: 18.8px;
    color: #457B9D;
}

.half2 h2 span{
    background-color: #457B9D;
    padding: 1px 22px;
    border-radius: 15px;
    color: #f1faee;
}

#book{
    height: 15vh;
}

#book .menu{
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
}

#Popflight{
    height: fit-content;
}

#Popflight h2{
    color: #e63946;
    font-size: 25px;
    letter-spacing: 5px;
    text-align: start;
}
#Popflight h3{
    color: #e63946;
    text-align: center;
    font-size: 25px;
    letter-spacing: 5px;
}


/*serch bar location*/
.card1{
    position: relative;
    text-align: start;
    width: 25%;
    height: 110px;
    border: 2px solid rgb(226, 226, 226, .7);
    border-radius: 20px;
    padding: 10px 10px 20px 20px;
}

  
.card1:nth-child(4){
    color: #f1faee;
    padding: 0px 0px 0px 0px;
}

.card1:nth-child(3) input{
    width: 100%;
}

.card1:nth-child(4) input{
    margin-top: 0;
    border-radius: 20px;
    width: 100%;
}

  .card1 h5{
    text-align: start;
    font-size: 15px;
  }

  .card1 input{
    border: none;
    outline: none;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
    width: 200px;
  }

  .card1 .incdec{
    display: flex;
    gap: 10px;
  }

  .card1 .incdec a{
    border: none;
    user-select: none;
    background: none;
    outline: none;
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;
    transition: .3 linear;
  }

.container1{
    display: flex;
    gap: 10px;
    padding: 20px;
}

.container2{
    width: 100%;
    position: absolute;
    bottom: 160px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: #f1faee;
    padding-left: 20px;
    padding-right: 20px;
}
#search_result, #search_result2, #search_result3{
    position: relative;
    text-align: start;
    bottom: 0;
    width: 25%;
    transition: .3s ease-in-out;
}

.bookn{
    cursor: pointer;
    background: none;
    background-color: #1d3557;
    color: #fff;
    width: 100%;
    height: 100%;
    transition: .2s ease-in-out;
}

.bookn:hover{
    background-color: #457B9D;
}


/*Login and Register*/
.bg_login{
    height: 100vh;
    background-image: url('../assets/bg_plane.png');
    background-position: center;
    background-size: cover;
}

.login{
    height: 100%;
    width: 100%;
}

.login .notice{
    position: relative;
    top: 20%;
}

.login .notice h2{
    text-align: center;
}

.login form{
    position: relative;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
    border-radius: 20px;

}

.login form h2, h3{
    text-align: center;
}

.login form h3{
    margin-bottom: 30px;
}

.login form input{
    display: block;
    width: 400px;
    height: 40px;
    margin-bottom: 20px;
    padding: 0px 50px;
    font-size: 20px;
    border: #1d3557 1px solid;
    border-radius: 15px;
    outline: none;
}

.login form .forgotpass{
    text-decoration: none;
    color: #1d3557;
    display: block;
    text-align: end;
    transition: .3s ease-in-out;
}

.login form .forgotpass:hover{
    text-decoration: none;
    color: #457B9D;
    display: block;
    text-align: end;
}


#btn_log{
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
    background-color: #1d3557;
    color: #fff;
    transition: .3s ease-in-out;
}

#btn_log:hover{
    background-color: #457B9D;
    color: #fff;
}

.icon{
    padding: 12px;
    min-width: 40px;
    height: 50px;
}

.input-icons i{
    position: absolute;
    text-align: center;
    font-size: 18px;
    color: #1d3557;
}

.signup{
    color: #1d3557;
    display: block;
    text-align: center;
}

.signup a{
    text-decoration: none;
    color: #457B9D;
}

.texticon{
    width: 360px;
    text-align: center;
}

.backhome{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.backhome a{
    padding: 10px 20px;
    background-color: #1d3557;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    transition: .3s ease-in-out;
}

.backhome a:hover{
    background-color: #457B9D;
}

.containerc {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;;
}

.cardc {
  width: 100%;
  width: fit-content;
  background-color: #fff;
  padding: 0 2rem 1.5rem 2rem;
  border-radius: 10px;
  transition: box-shadow .3s linear;
}
.cardc:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, .3);
}

.cardc .card-img {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, .3);
  transform: translateY(-15%);
  transition: box-shadow .3s linear;
}
.cardc:hover .card-img {
  box-shadow: none;
}
.cardc .card-img img {
  width: 100%;
  display: block;
}

.cardc .card-content {
  text-align: center;
}
.cardc .card-content .big-title {
  color: #333;
  font-size: 1.3rem;
}
.cardc .card-content .medium-title {
  color: #999;
  font-size: .85rem;
  margin-top: .3rem;
}

.error{
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e09097;
    border: #e63946 solid 3px;
    border-radius: 10px;
    padding: 10px;
    color: #1d3557;
    animation: error 4s linear;

}


.error p{
    font-size: 20px;
}

@keyframes error {
    0% {
        top: -10%;
    }
    14% {
        top: 12%;
    }
    16%{
        top: 9%;
    }
    18%{
        top: 11.5%;
    }
    20%{
        top: 9.5%;
    }
    22%{
        top: 11%;
    }
    24%{
        top: 10%;
    }

    80%{
        top: 10%;
    }

    100%{
        top: -10%;
    }
}

/*Gallery*/

#gallery {
    height: 80vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
#gallery .title h3{
    text-transform: uppercase;
    color: #e63946;
    text-align: center;
    font-size: 25px;
    letter-spacing: 5px;
    margin-bottom: 50px;
    text-align: start;
}

.containerg {
    display: flex;
    gap: 20px;
    width: 100%;
    padding-bottom: 50px;
    background-color: #fff;
}
.containerg .image {
    position: relative;
    min-height: 60vh;
    border-radius: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    border: 1px solid #fff;
    transition: 0.5s ease all;
}
.containerg .image * {
    z-index: 1;
}
.containerg .image:nth-of-type(1) {
    background-image: url('https://i.ibb.co/HgC5Cnk/barcelona.jpg');
}
.containerg .image:nth-of-type(2) {
    background-image: url('https://i.ibb.co/r5BN642/london.jpg');
}
.containerg .image:nth-of-type(3) {
    background-image: url('https://i.ibb.co/89cWPNx/new-york.jpg');
}
.containerg .image:nth-of-type(4) {
    background-image: url('https://i.ibb.co/HF4d84f/paris.jpg');
}
.containerg .image:nth-of-type(5) {
    background-image: url('https://i.ibb.co/RP7Z3p8/rome.jpg');
}
.containerg .image:nth-of-type(6) {
    background-image: url('https://i.ibb.co/5LsKqQP/shinjuku.jpg');
}
.containerg .image .image-text {
    position: absolute;
    bottom: 2rem;
    left: 1.25rem;
}
.containerg .image .image-text h1 {
    font-size: 2.75rem;
    letter-spacing: 1px;
    opacity: 0;
    font-weight: 600;
}
.containerg .image .image-text h3 {
    font-size: 1.5rem;
    margin-top: 0.25rem;
    text-align: start;
    opacity: 0;
    font-weight: 600;
}
.containerg .image .image-text p {
    width: 80%;
    font-size: 1.1rem;
    opacity: 0;
    font-weight: 400;
    line-height: 1.4;
}
.containerg .image.img-active {
    flex: 5;
}
.containerg .image.img-active::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.6);
}
.containerg .image.img-active .image-text h1 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
.containerg .image.img-active .image-text h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.6s;
}
.containerg .image.img-active .image-text p {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.8s;
}
@media (max-width: 600px) {
    .containerg {
        width: 100vw;
   }
    .containerg .image .image-text h1 {
        font-size: 2.25rem;
        letter-spacing: 0px;
   }
    .containerg .image .image-text h3 {
        font-size: 1.2rem;
   }
    .containerg .image .image-text p {
        width: 95%;
        font-size: 0.9rem;
   }
}

/*About*/
#about{
    height: 60vh;
    display: flex;
}

#about .half1{
    width: 50%;
    height: 100%;
}

#about .half1 h3{
    text-align: start;
    color: #e63946;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#about .half2{
    width: 50%;
    height: 100%;
}

#about .half2 .container1{
    height: 100%;
    position: relative;
}

#about .half2 .container1 img{
    height: 100%;
    
}

/*contact*/

#contactf{
    height: 50vh;
}

 #contact{
    padding:10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    display: flex;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 15px;
  }

  .form:hover{
    border:1px solid #0A5175;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #0A5175;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  
/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#0A5175;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

.form-btn:hover{
    background:#457B9D;
    border-radius: 15px;
    color: white;
    border:none;
}

.form-btn:active{
    opacity: 0.9;
}

center{
  margin-top:330px;
}

.form {
    position: relative;
    z-index: 9999;
}