@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html{
    scroll-behavior: smooth;
}

section{
    padding-left: 100px;
    padding-right: 100px;
}

/*custom header*/
#header{
  width: 100%;
  height: 70px;
  padding: 10px 20px;
  position: fixed;
  background-color: #f1faee;
  z-index: 999;
  transition: .3s ease-in-out;
}

#header .active {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.nav1{
  padding-left: 100px;
  padding-right: 100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.nav1 h2 strong{
  color: #e63946;
}

.nav1 ul{
  display: flex;
  gap: 20px;
}

.nav1 ul li{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav1 ul li a{
  text-decoration: none;
  font-weight: 700;
  color: #1d3557;
  transition: .3s ease-in-out;
}

.nav1 ul li a:hover{
  color: #a8dadc;
}

header .nav1 img{
  height: 100%;
}

.register{
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.register a{
  text-decoration: none;
  background-color: #1d3557;
  padding: 10px 15px;
  border-radius: 15px;
  color: #f1faee;
  transition: .3s ease-in-out;
}

.register a:hover{
  text-decoration: none;
  color: #1d3557;
  background-color: #a8dadc;
}

.register a:nth-child(1){
  text-decoration: none;
  background-color: #f1faee;
  padding: 6px 15px;
  border-radius: 15px;
  border: #1d3557 solid;
  color: #1d3557;
  transition: .3s ease-in-out;
}

.register a:nth-child(1):hover{
  text-decoration: none;
  color: #a8dadc;
  background-color: #1d3557;
}

/*Footer*/
#footer{
  height: 50vh;
  background: linear-gradient(rgba(241, 250, 238, 0.5) 50%, rgba(241, 250, 238, 0.2)), url('../assets/bg_plane.png');
  background-size: cover;
  background-position: bottom;
}
/*custom header*/

#main{
    position: relative;
    height: 100vh;
    background: linear-gradient(rgba(241, 250, 238) 10%, rgba(241, 250, 238, 0.6)), url('https://images.unsplash.com/photo-1468183654773-77e2f0bb6bf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-left: 200px;
    padding-right: 200px;
}

.infos{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infos h1{
    text-align: center !important;
    font-size: 5em !important;
    color: #1D3557 !important;
}
.infos h2{
    text-align: center !important;
    font-size: 2.4em !important;
    color: #1D3557 !important;
}

.shwf{
    position: relative;
    top: 50%;
    text-align: center;
}

.shwf a{
    border: #1D3557 solid;
    border-radius: 25px;
    padding: 10px 15px;
    color: #1D3557;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.shwf a:hover{
    border: #457B9D solid;
    background-color: #457B9D;
    border-radius: 25px;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}

/*FLIGHTS*/

#flights{
    padding-top: 100px;
}

/*options*/
.card1{
  position: relative;
  text-align: start;
  width: 25%;
  height: 80px;
  border: 2px solid rgb(226, 226, 226, .7);
  border-radius: 20px;
  padding: 10px 10px 20px 20px;
}


.card1:nth-child(4){
  color: #f1faee;
  padding: 0px 0px 0px 0px;
}

.card1:nth-child(3) input{
  width: 100%;
}

.card1:nth-child(4) input{
  margin-top: 0;
  border-radius: 20px;
}


.card1 h5{
  text-align: start;
  font-size: 15px;
}

.card1 input{
  border: none;
  outline: none;
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

.card1 .incdec{
  display: flex;
  gap: 10px;
}

.card1 .incdec a{
  border: none;
  user-select: none;
  background: none;
  outline: none;
  margin-right: 20px;
  margin-top: 5px;
  cursor: pointer;
  transition: .3 linear;
}

.container1{
  display: flex;
  gap: 10px;
  padding: 20px;
}

.container2{
  width: 100%;
  position: relative;
  display: flex;
  bottom: 15px;
  justify-content: space-between;
  gap: 10px;
  color: #f1faee;
  padding-left: 20px;
  padding-right: 20px;
}
#search_result, #search_result2, #search_result3{
  text-align: start;
  width: 25%;
}

.bookn{
  cursor: pointer;
  background: none;
  background-color: #1d3557;
  color: #fff;
  width: 100%;
  height: 100%;
  transition: .2s ease-in-out;
}

.bookn:hover{
  background-color: #457B9D;
}

.people{
  display: flex;
}

.listf{
  width: 100%;
  height: fit-content;
  padding: 50px;
  border: #1D3557 2px solid;
  border-radius: 25px;
  background-color: #f1faee;
  margin-top: 50px;
  margin-bottom: 50px;
}

.listf .title h2{
  margin-bottom: 50px;
}

.flightitem{
  height: 200px;
  width: 70%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  border-radius: 25px;
  background-color: #fff;
  margin-bottom: 30px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  display: flex;
}

.part1{
  width: 10%;
  height: 100%;
  background-color: #1D3557;
  border-radius: 25px 0 0 25px;
}

.codes{
  color: #fff;
  width: 100%;
  height: fit-content;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.codes h5{
  font-size: 15px;
}

.details{
  width: 70%;

}

.book{
  width: 20%;
  background-color: #A8DADC;
  border-radius:  0 25px 25px 0 ;
}

.book .det{
  width: fit-content;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
}

.det a{
  text-decoration: none;
  background-color: #1d3557;
  padding: 10px 15px;
  border-radius: 15px;
  color: #f1faee;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  transition: .3s ease-in-out;
}

.det a:hover{
  text-decoration: none;
  background-color: #457B9D;
}

.details{
  padding: 20px;
}

.header1{
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header1 h2{
  font-weight: 300;
}

.finfos{
  display: flex;
}

.finfos .pt1{
  width: 50%;
}

.finfos .pt1 h2{
  font-size: 20px;
  font-weight: 300;
  text-align: start;
}

.finfos .pt2{
  width: 50%;
}

.finfos .pt2 h2{
  font-size: 20px;
  font-weight: 300;
  text-align: start;
}
