@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    height: 100vh;
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.menu{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-color: #1375AD;
    border-radius: 15px;
}

.content{
    height: 100%;
    width: 80%;
}

.menu .salut{
    text-align: center;
    color: #fff;
}

.menu ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
}

.menu ul li{
    list-style: none;
    text-align: center;
}

.menu ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border-radius: 15px;
    transition: .3s ease-in-out;
}

.menu ul li a:hover{
    color: #1375AD;
    background-color: #A8DADC;
}

.menu .logo{
    font-size: 20px;
    text-align: center;
    color: #f1f1f1;
}

@media screen and (max-width: 1176px) {
    .menu{
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
    }
    .content{
        height: 100%;
        width: 70%;
    }
}

.custom{
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    border: #1375AD 2px solid;
    padding: 30px;
    position: relative;
}
.list-group{
    max-height: 450px;
    margin-bottom: 10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}
.list-group::-webkit-scrollbar {
    width: 12px;
}

.list-group::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    border-radius: 10px;
}

.list-group::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
}
.confirm{
    position: absolute;
    bottom: 30px;
}

.confirm a{
    background-color: #1D3557;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    transition: .3s ease-in-out;
}
.confirm a:hover{
    background-color: #457B9D;
    color: #fff;
}
.delete_data{
    cursor: pointer;
}

.hide{
    display: none;
}

.action a{
    font-size: 20px;
    padding: 10px 15px;
    background-color: #1D3557;
    color: #fff;
    border-radius: 15px;
    transition: .3s ease-in-out;
}

.action a:hover{
    background-color: #1375AD;
    color: #fff;
}