@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main{
    height: 100vh;
    display: flex;
    background-color: #F9FAFE;
}

.menu{
    padding: 15px;
    width: 15%;
    height: 100%;
}

.menuitems{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
}

.content{
    width: 85%;
    height: 100%;
    padding: 15px 15px 15px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header{
    width: 100%;
    height: 10%;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.user{
    display: flex;
    gap: 10px;
}

.pages{
    width: 100%;
    height: 90%;
    border-radius: 15px;
    background-color: #fff;
    padding: 40px;
}

.logo{
    color: #1D3557;
}
.firsthalf{
    color: #E63946;
}

.menui{
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.menui ul{
    padding: 0;
}

.menui ul li{
    list-style: none;
    text-align: start;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    transition: .3s ease-in-out;
}

.menui ul li:hover{
    background-color: #ebecf0;
}

.menui ul li a{
    text-decoration: none;
    color: #1D3557;
}

.logged{
    display: flex;
    gap: 20px;
}

.list{
    display: none;
    background-color: #fff;
    position: absolute;
    right: 30px;
    top: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}


.showmen{
    display: block;
}

.account{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.account button, .messages button{
    height: fit-content;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #ebecf0;
    color: #1D3557;
    transition: .3s ease-in-out;
}

.account button:hover, .messages button:hover{
    color: #0255c9;
}

.list ul{
    display: block;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.list ul li{
    list-style: none;
    margin: 20px;
    padding: 0;
    align-items: center;
}
#logout, #user{
    text-decoration: none;
    padding: 6px 30px;
    border-radius: 15px;
    border: none;
    width: 100%;
    color: #1d3557;
    transition: .3s ease-in-out;
}

#logout:hover, #user:hover{
    background-color: rgb(247, 247, 247);
}

.dote{
    position: absolute;
    right: 0;
    background-color: #e63946;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#tablescroll::-webkit-scrollbar {
    width: 12px;
}

#tablescroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    border-radius: 10px;
}

#tablescroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
}

table{
    text-align: center;
}

.action{
    display: flex;
    justify-content: space-around;
}

.action a{
    color: #1D3557;
}

/*Sections*/
.hide{
    display: none;
}

#addf{
    height: 100%;
    width: 100%;
}

table{
    width: 100%;
    text-align: start;
}
.form td{
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.half{
    width: 50%;
}

.stopform{
    position: relative;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 70%;
    width: 60%;
    border-radius: 15px;
    padding-left: 5%;
    padding-right: 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.stopform form{
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

/*Dashboard*/
#dash{
    width: 100%;
    height: 100%;
}
#dash .total{
    display: flex;
    height: 30%;
    width: 100%;
    gap: 20px;
}

.income{
    background-color: #0255c9;
    width: 50%;
    height: 100%;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.income h3{
    font-size: 30px;
}
.income h1{
    font-size: 50px;
}

.f-available{
    background-color: #1D3557;
    width: 50%;
    height: 100%;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.f-available h3{
    font-size: 30px;
}
.f-available h1{
    font-size: 50px;
}

.item{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#dash .best{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    height: 60%;
    width: 100%;
}

#dash .best .flight{
    width: 50%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 5px 0px;
}

#dash .best .client{
    width: 50%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 5px 0px;
}

.message{
    display: flex;
    position: relative;
    width: 100%;
    gap: 30px;
    height: 70vh;
}

.messages{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
}

#modif{
    background-color: #A8DADC;
    height: 100vh;
    width: 100%;
}

#container{
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

table{
    transition: .3s ease-in-out;
}

#inbox{
    background-color: #A8DADC;
    height: 100vh;
    width: 100%;
}

.inbox{
    background-color: #fff;
    border-radius: 15px;
    height: 600px;
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
}

.inbox .header{
    border-bottom: 1px #0255c9 solid;
    height: 15%;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: 5%;
    padding-left: 5%;
}

.inbox .header a{
    color: #1D3557;
    transition: .3s ease-in-out;
}

.inbox .content{
    height: 83%;
    overflow-y: scroll;
    width: 100%;
}

.inbox .content p{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
}

.header .line1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header .line2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}