*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: flex;
    background-color: #F9FAFE;
}

.menu{
    padding: 15px;
    width: 15%;
    height: 100%;
}

.menuitems{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
}

.content{
    width: 85%;
    height: 100%;
    padding: 15px 15px 15px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header{
    width: 100%;
    height: 10%;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.user{
    display: flex;
    gap: 10px;
}

.pages{
    width: 100%;
    height: 90%;
    border-radius: 15px;
    background-color: #fff;
    padding: 40px;
}

.logo{
    color: #1D3557;
}
.firsthalf{
    color: #E63946;
}

.menui{
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.menui ul{
    padding: 0;
}

.menui ul li{
    list-style: none;
    text-align: start;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    transition: .3s ease-in-out;
}

.menui ul li:hover{
    background-color: #ebecf0;
}

.menui ul li a{
    text-decoration: none;
    color: #1D3557;
}

.logged{
    display: flex;
    gap: 20px;
}

.list{
    display: none;
    background-color: #fff;
    position: absolute;
    right: 30px;
    top: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}


.showmen{
    display: block;
}

.account{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.account button, .user a{
    height: fit-content;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #ebecf0;
    color: #1D3557;
    transition: .3s ease-in-out;
}

.account button:hover, .user a:hover{
    color: #0255c9;
}

.list ul{
    display: block;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.list ul li{
    list-style: none;
    margin: 20px;
    padding: 0;
    align-items: center;
}
#logout, #user{
    text-decoration: none;
    padding: 6px 30px;
    border-radius: 15px;
    border: none;
    width: 100%;
    color: #1d3557;
    transition: .3s ease-in-out;
}

#logout:hover, #user:hover{
    background-color: rgb(247, 247, 247);
}

.dote{
    position: absolute;
    right: 0;
    background-color: #e63946;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#tablescroll::-webkit-scrollbar {
    width: 12px;
}

#tablescroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    border-radius: 10px;
}

#tablescroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
}

table{
    text-align: center;
}

.action{
    display: flex;
    justify-content: space-around;
}

.action a{
    color: #1D3557;
}

/*Sections*/
.hide{
    display: none;
}

#addf{
    height: 100%;
    width: 100%;
}
table{
    width: 100%;
    text-align: start;
}
td{
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}